$font: 'Roboto Condensed', sans-serif;

//light gray
$primary-gray: #f8f9fa;

//dark gray
$secondary-gray: #d2d3d4;

//font gray
$tertiary-gray: #ced4da;

//dark blue
$primary-blue: #343a40;

//font blue
$secondary-blue: #0099ff;

$content-width: 70%;