@import 'variables';
@import 'home';
@import 'menu';
@import 'coffee';
@import 'footer';
@import 'header';
@import 'our-story';

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: $font;
}